/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/*=============== GLOBAL STYLE ===============*/
:root {
  /*========== Colors ==========*/
  /*color base: brown 10 blue 240, purple 300 green 150, 550 */
  --hue-color: 240;

  --first-color: hsl(var(--hue-color), 63%, 39%);
  --title-color: hsl(var(--hue-color), 60%, 70%);
  --text-color: hsl(var(--hue-color), 22%, 25%);
  --text-color-light: hsl(var(--hue-color), 22%, 55%);
  --text-color-light2: hsl(var(--hue-color), 22%, 73%);

  --white-color: #fff;
  --body-color: hsl(var(--hue-color), 24%, 94%);

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 3rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.95rem;
  --tiny-font-size: 0.625rem;

  /*========== Font weight ==========*/
  --font-medium: 500;

  /*========== Margenes Bottom ==========*/
  --mb-0-25: 0.25rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2-5: 2.5rem;

  /*========== z index ==========*/
  --z-normal: 1;
  --z-tooltip: 10;
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 3.5rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 1.013rem;
    --tiny-font-size: 0.75rem;
  }
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
  --title-color: hsl(var(--hue-color), 12%, 95%);
  --text-color: hsl(var(--hue-color), 12%, 75%);
  --body-color: hsl(var(--hue-color), 10%, 16%);
  /* z-index: 9500; */
}

/*========== Button Dark/Light ==========*/
.clock__theme {
  position: absolute;
  top: -1rem;
  left: -1rem;
  display: flex;
  padding: 0.25rem;
  border-radius: 50%;
  box-shadow: inset -1px -1px 1px hsla(var(--hue-color), 0%, 100%, 1),
    inset 1px 1px 1px hsla(var(--hue-color), 30%, 86%, 1);
  color: var(--first-color);
  cursor: pointer;
  transition: 0.4s; /* For dark mode animation*/
  /* z-index: 9501; */
}

/*========== Box shadow Dark theme ==========*/
.dark-theme .clock__circle {
  box-shadow: 6px 6px 16px hsla(var(--hue-color), 8%, 12%, 1),
    -6px -6px 16px hsla(var(--hue-color), 8%, 20%, 1),
    inset -6px -6px 16px hsla(var(--hue-color), 8%, 20%, 1),
    inset 6px 6px 12px hsla(var(--hue-color), 8%, 12%, 1);
  /* z-index: 9500; */
}

.dark-theme .clock__theme {
  box-shadow: inset -1px -1px 1px hsla(var(--hue-color), 8%, 20%, 1),
    inset 1px 1px 1px hsla(var(--hue-color), 8%, 12%, 1);
  /* z-index: 9500; */
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: var(--body-font);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: 0.4s; /* For dark mode animation*/
}

a {
  text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 968px;
  margin-left: var(--mb-1);
  margin-right: var(--mb-1);
}

.grid {
  display: grid;
}

/*=============== CLOCK ===============*/
.clock__container {
  height: 100vh;
  grid-template-rows: 1fr max-content;
}

.clock__circle {
  position: relative;
  width: 200px;
  height: 200px;
  box-shadow: -6px -6px 16px var(--white-color),
    6px 6px 16px hsla(var(--hue-color), 30%, 86%, 1),
    inset 6px 6px 16px hsla(var(--hue-color), 30%, 86%, 1),
    inset -6px -6px 16px var(--white-color);
  border-radius: 50%;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s; /* For dark mode animation*/
}

.clock__content {
  align-self: center;
  row-gap: 3.5rem;
}

.clock__twelve,
.clock__three,
.clock__six,
.clock__nine {
  position: absolute;
  width: 1.35rem;
  height: 2.5px;
  border-radius: 50%;
  background-color: var(--text-color-light);
}

.clock__one,
.clock__two,
.clock__four,
.clock__five,
.clock__seven,
.clock__eight,
.clock__ten,
.clock__eleven {
  position: absolute;
  width: 0.8rem;
  height: 0.09px;
  background-color: var(--text-color-light);
}

.clock__twelve,
.clock__six {
  transform: translateX(-50%) rotate(90deg);
}

.clock__one,
.clock__seven {
  transform: translateX(-50%) rotate(120deg);
  /* background: #f00; */
}

.clock__two,
.clock__eight {
  transform: translateX(-50%) rotate(150deg);
  /* background: #000dff; */
}

.clock__four,
.clock__ten {
  transform: translateX(-50%) rotate(210deg);
  /* background: #2bff00; */
}

.clock__five,
.clock__eleven {
  transform: translateX(-50%) rotate(235deg);
  /* background: #ff00c8; */
}

.clock__twelve {
  top: 1.25rem;
  left: 50%;
}

.clock__one {
  top: 2rem;
  left: 70%;
}

.clock__two {
  top: 3.9rem;
  left: 83%;
}

.clock__three {
  top: 50%;
  right: 0.75rem;
}

.clock__four {
  top: 70%;
  right: 0.9rem;
}

.clock__five {
  top: 85%;
  right: 2.7rem;
}

.clock__six {
  bottom: 1.25rem;
  left: 50%;
}

.clock__seven {
  bottom: 1.9rem;
  left: 30%;
}

.clock__eight {
  bottom: 3.8rem;
  left: 15%;
}

.clock__nine {
  left: 0.75rem;
  top: 50%;
}

.clock__ten {
  left: 2rem;
  top: 30%;
}

.clock__eleven {
  left: 3.8rem;
  top: 16%;
}

.clock__rounder {
  width: 0.75rem;
  height: 0.75rem;
  background-color: var(--first-color);
  border-radius: 50%;
  border: 2px solid var(--body-color);
  z-index: var(--z-tooltip);
}

.clock__hour,
.clock__minutes,
.clock__seconds {
  position: absolute;
  display: flex;
  justify-content: center;
}

.clock__hour {
  width: 120px;
  height: 70px;
}

.clock__hour::before {
  content: "";
  position: absolute;
  background-color: var(--text-color);
  width: 0.4rem;
  height: 2.5rem;
  border-radius: 0.75rem;
  z-index: var(--z-normal);
}

.clock__minutes {
  width: 135px;
  height: 115px;
}

.clock__minutes::before {
  content: "";
  position: absolute;
  background-color: var(--text-color);
  width: 0.23rem;
  height: 3.5rem;
  border-radius: 0.75rem;
  z-index: var(--z-normal);
}

.clock__seconds {
  width: 150px;
  height: 125px;
}

.clock__seconds::before {
  content: "";
  position: absolute;
  background-color: var(--first-color);
  width: 0.115rem;
  height: 4.2rem;
  border-radius: 0.75rem;
  z-index: var(--z-normal);
}

.clock__logo {
  width: max-content;
  justify-self: center;
  margin-bottom: var(--mb-2-5);
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color-light2);
  transition: 0.3s;
}

.clock__logo:hover {
  color: var(--first-color);
}

.clock__text {
  display: flex;
  justify-content: center;
}

.clock__text-hour,
.clock__text-minutes {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-medium);
  color: var(--title-color);
}

.clock__text-ampm {
  font-size: var(--tiny-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-left: var(--mb-0-25);
}

.clock__date {
  text-align: center;
  color: var(--title-color);
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  /* color: #909090; */
  /* background-color: #20c997; */
}

/*=============== MEDIA QUERIES ===============*/
/* For large devices */
@media screen and (min-width: 968px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .clock__logo {
    margin-bottom: 3rem;
  }
}

/* ======================= BACKGROUND IMAGE ========================== */

.container h1 {
  text-align: center;
  font-size: 40px;
}

#canvas-image-blending {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1000;
}
